<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='imagenes/bodega.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/alerts.js') }}"></script>
    <title>Agregar Producto a Bodega</title>
</head>
<body>
    <h1>Agregar Producto a Bodega</h1>
    <form method="post">
        <label for="nombre_producto">Nombre del Producto:</label>
        <select name="nombre_producto" id="nombre_producto" required>
            <option value="" selected disabled hidden>-- Selecciona un producto --</option>
            {% for producto_tuple in productos %}
                {% set producto = producto_tuple[0] %}
                <option value="{{ producto }}">{{ producto }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="bodega_nombre">Nombre de la Bodega:</label>
        <select name="bodega_nombre" id="bodega_nombre" required>
            <option value="" selected disabled hidden>-- Selecciona una bodega --</option>
            {% for bodega_tuple in bodegas %}
                {% set bodega = bodega_tuple[0] %}
                <option value="{{ bodega }}">{{ bodega }}</option>
            {% endfor %}
        </select>
        <br>
        <button type="submit">Actualizar</button>
    </form>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <div class="link-container">
        <a href="{{ url_for('index')}}">Volver a Inicio</a>
        <a href="{{ url_for('actualizar_eliminar_consultar')}}">Atrás</a>
    </div>
</body>
</html>
