<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Consultar Bodega</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='imagenes/bodega.png') }}" type="image/x-icon">
</head>
<body>
    <h1>Consultar Bodega</h1>
    <form action="" method="post">
        <label for="bodega_nombre">Bodega:</label>
        <select id="bodega_nombre" name="bodega_nombre" required>
            <option value="" selected disabled hidden>-- Selecciona una bodega --</option>    
            {% for bodega_tuple in bodegas %}
                {% set bodega = bodega_tuple[0] %}
                <option value="{{ bodega }}">{{ bodega }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Consultar">
    </form>
    {% if bodega_info %}
    <div class="bodega-info">
        <h2>Información de la Bodega</h2>
        <p><strong>Nombre:</strong> {{ bodega_info.nombre }}</p>
        <p><strong>Ubicación:</strong> {{ bodega_info.ubicacion }}</p>
        <p><strong>Capacidad Maxima:</strong> {{ bodega_info.capacidad_maxima }}</p>
    </div>
    <div class="productos-lista">
        <h2>Productos en esta Bodega</h2>
        {% if bodega_info.productos %}
            <table>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Stock Actual</th>
                </tr>
                {% for producto in bodega_info.productos %}
                    <tr>
                        <td>{{ producto.nombre }}</td>
                        <td>{{ producto.descripcion }}</td>
                        <td>{{ producto.precio }}</td>
                        <td>{{ producto.stock }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>No hay productos en esta Bodega.</p>
        {% endif %}
    </div>
    {% endif %}
    <div class="link-container">
        <a href="{{ url_for('index')}}">Volver a Inicio</a>
    </div>
</body>
</html>
