<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Consultar Producto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='imagenes/producto.png') }}" type="image/x-icon">
</head>
<body>
    <h1>Consultar Producto</h1>
    <form action="" method="post">
        <label for="producto_nombre">Producto:</label>
        <select id="producto_nombre" name="producto_nombre" required>
            <option value="" selected disabled hidden>-- Selecciona un producto --</option>    
            {% for producto_tuple in productos %}
                {% set producto = producto_tuple[0] %}
                <option value="{{ producto }}">{{ producto }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Consultar">
    </form>
    {% if producto_info %}
    <div class="product-info">
        <h2>Información del Producto</h2>
        <table>
            <tr>
                <td><strong>Nombre:</strong></td>
                <td>{{ producto_info.nombre }}</td>
            </tr>
            <tr>
                <td><strong>Descripción:</strong></td>
                <td>{{ producto_info.descripcion }}</td>
            </tr>
            <tr>
                <td><strong>Precio:</strong></td>
                <td>{{ producto_info.precio }}</td>
            </tr>
            <tr>
                <td><strong>Stock Actual:</strong></td>
                <td>{{ producto_info.stock }}</td>
            </tr>
            <tr>
                <td><strong>Categoría:</strong></td>
                <td>{{ producto_info.categoria }}</td>
            </tr>
            <tr>
                <td><strong>Proveedor:</strong></td>
                <td>{{ producto_info.proveedor }}</td>
            </tr>
            <tr>
                <td><strong>Bodega:</strong></td>
                <td>{{ producto_info.bodega }}</td>
            </tr>
        </table>
    </div>
    {% endif %}
    <div class="link-container">
        <a href="{{ url_for('index')}}">Volver a Inicio</a>
    </div>
</body>
</html>
