<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Sistema de Gestión de Inventario</title>
    <link rel="icon" href="{{ url_for('static', filename='imagenes/unilibre1.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/alerts.js') }}"></script>
    </head>
<body>
    <h1>Sistema de Gestión de Inventario - Informe General de Stock</h1>
    <div class="nav-container">
        <ul>
            <li><a href="{{ url_for('informe_stock_total') }}">Informe de Stock Total</a></li>
            <li><a href="{{ url_for('informe_stock_por_producto') }}">Informe de Stock por Producto</a></li> 
            <li><a href="{{ url_for('informe_stock_por_categoria') }}">Informe de Stock por Categoría</a></li>
            <li><a href="{{ url_for('informe_stock_por_proveedor') }}">Informe de Stock por Proveedor</a></li>
            <li><a href="{{ url_for('informe_stock_por_bodega') }}">Informe de Stock por Bodega</a></li> 
        </ul>
    </div>
    <div class="link-container">
        <a href="{{url_for('index')}}">Volver a Inicio</a>
    </div>
</body>
</html>
