<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informe de Stock Total</title>
    <link rel="icon" href="{{ url_for('static', filename='imagenes/stock.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Informe de Stock Total</h1>
    <table>
        <thead>
            <tr>
                <th>Stock Total</th>
                <th>Valor Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ stock_total }}</td>
                <td>{{ total_value }}</td>
            </tr>
        </tbody>
    </table>
    <div class="link-container">
        <a href="{{url_for('index')}}">Volver a Inicio</a>
        <a href="{{url_for('informe_stock')}}">Atras</a>
    </div>
</body>
</html>

