<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='imagenes/proveedor.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Informe de Stock por Proveedor</title>
</head>
<body>
    <h1>Informe de Stock por Proveedor</h1>
    <table>
        <thead>
            <tr>
                <th>Proveedor</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody>
            {% for proveedor, stock in stock_por_proveedor.items() %}
                <tr>
                    <td>{{ proveedor }}</td>
                    <td>{{ stock }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="link-container">
        <a href="{{url_for('index')}}">Volver a Inicio</a>
        <a href="{{url_for('informe_stock')}}">Atras</a>
    </div>
</body>
</html>
