<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retirar Producto de Bodega</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='imagenes/stock.png') }}" type="image/x-icon">
</head>
<body>
    <h1>Retirar Producto de Bodega</h1>
    <form method="POST">
        <label for="nombre_producto">Producto:</label>
        <select name="nombre_producto" id="nombre_producto" required>
            <option value="" selected disabled hidden>--- Seleccione un producto ---</option>
            {% for producto_tuple in productos %}
                {% set producto = producto_tuple[0] %}
                <option value="{{ producto }}">{{ producto }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="cantidad">Cantidad:</label>
        <input type="number" name="cantidad" id="cantidad" min="1" required>
        <br>
        <button type="submit">Retirar</button>
    </form>
    <div class="link-container">
        <a href="{{ url_for('index')}}">Volver a Inicio</a>
        <a href="{{ url_for('actualizar_eliminar_consultar')}}">Atras</a>
    </div>
</body>
</html>
